body {
	font-family: 'Slabo 27px', serif, 'Times New Roman', Times, serif;
	background-color: #005383;
	color: #444;
}

#navbar {
	width: 62%;
	margin: 10px 0 5px 19%;
}

#navbar h1 {
	margin: 0;
	color: white;
    text-shadow: 0 0 5px #333;
}

#navbar #searchbar {
	font-family: 'FontAwesome', 'Times', serif;
	padding: 5px;
	margin-right: -4px; /* to compensate the 2px .article border */
	border: 2px solid #32759b;
}

.article {
	margin: 0 0 10px 19%;
	width: 62%;
	background-color: #fff;
	border: 2px solid #32759b;

	/* when using fixed/max height, add all of the following: */
	/*
	height: 400px;
	overflow: auto;
	*/
}

.article h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	text-align: center;
}

.article-img-container {
	max-width: 40%;
	max-height: 100%;
	margin: 0 20px 20px 20px;
	float: right !important;
	color: #707070;
}

.article-img {
	max-width: 100%;
	max-height: 100%;
}

.article-content {
	margin: 0 20px 20px 20px;
}

.article-tag {
	color: red;
	text-decoration: none;
	padding: 0 0.5em 0 0.5em;
	border: 1px solid red;
}
